//Theme Colors  ref: https://www.sessions.edu/color-calculator/
$primaryColor: #ff740a;
$secondaryColor: #fc2a0a;
$terciaryColor: #ffb10a;
$gradientColor: linear-gradient(135deg, $primaryColor 20%, $terciaryColor  60%, $secondaryColor);
$lt-gray: lightgray;
$font-color: black;
$nonActiveColor: gray;
$hoverColor: #0a4bff;
$hoverColor2: #0affbe;

//Height of carousel-jumbotron
$minHeightJumboCarousel: 210px;

//scss mixins
@mixin padding-margin($up-down, $left-right) {
    margin: 0px auto;
    padding: $up-down $left-right;
}

@mixin radio-de-borde($radius) {
    border-radius: $radius;
    overflow: hidden; //This avoids background content to overlap the rounded borders
}

@mixin header-fonts($size) {
    font: $size "head-title", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

@mixin body-fonts($size) {
    font: $size "body-paragraph", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

//font functions
@font-face {
    font-family: 'head-title';
    src: url('../fonts/lobster/lobster-regular-webfont.woff2') format('woff2'),
         url('../fonts/lobster/lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'body-paragraph';
    src: url('../fonts/kalam/kalam-light-webfont.woff2') format('woff2'),
         url('../fonts/kalam/kalam-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//


//Header
.jumbotron {
    @include padding-margin(35px, 40px);
    background: $gradientColor;
    color: #000000;
    min-height: $minHeightJumboCarousel;
}

//logo in jumbotron carousel

@media screen and (max-width: 479px) {
    /* start of phone styles */
    /* It's possible to hide the image if the screen becomes too small */
    .logo {
      max-width: 40%;
    }
}

//fonts
.font-head {
    @include header-fonts(1.8em);
}

.font-head-big {
    @include header-fonts(2.4em);
}

.btn-font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

//badge
.badge {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}

//breadcrumb
.breadcrumb {
    @include header-fonts(1.4em);
    background-color: whitesmoke;
}


//row header
.row-header {
    @include padding-margin(0px, 0px);
}

//Article content
.row-content {
    @include padding-margin(20px, 15px);
    min-height: 170px;
}

.row-content p, .tab-pane li a, .tab-pane li a:visited, .form-group {
    @include body-fonts(1.2em);
    text-align: justify;
    color: black;
}

//Footer
.footer {
    @include padding-margin(20px, 50px);
    background-color: $terciaryColor;
    color: black;
}

//Catalog content
.tab-content {
    padding: 10px;
}

//Cards style
.card {
    border: 2px solid $primaryColor;
    @include radio-de-borde(10px);
}

.card-header {
    background-color: $secondaryColor;
    color: white;
    @include header-fonts(2em);
    text-shadow: 5px 3px 5px #000000;
}

//Fast catalog pill links style
.nav-link {
    color: $nonActiveColor;
}

.nav-link:hover {
    color: $primaryColor; 
}

.nav-pills li a .active, .nav-pills .active {
    background-color: $primaryColor !important;
    text-shadow: 5px 3px 5px #000000;
    box-shadow: 5px 3px 5px #000000;
}

//links inside pill tab

.tab-pane li a:hover  {
    text-decoration: none;
    color: $hoverColor;
    font-weight: bold;
}

//nav menu on footer
.linkStyled, .linkStyled:visited {
    color: black;
    font-size: 1.7em;
}

.linkStyled:hover, .figure-caption:hover, .image-link:hover {
    text-decoration: none !important;
    color: $hoverColor;
    font-weight: bold;  
}

//card on footer address
.bg-grey {
    background-color: $lt-gray;
}

.navbar-brand, .jumbotron, #v-pills-tab .nav-link, .card-title {
    @include header-fonts(1.3em); 
}

.navbar-nav li a, .navbar-text a, .modal-header, .modal-body, .btn-font {
    @include header-fonts(1.2em);
}

//carousel

.carousel-item {
    height: $minHeightJumboCarousel;
}

.carousel-item .carousel-image {
    position: absolute;
    min-height: $minHeightJumboCarousel;
    width: 100%;
}

.carousel-item .paragraph {
    @include body-fonts(1.2em);
    font-weight: bold;
}

.carousel-item .burger {
    bottom: 0px !important;
}

#carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

//Modal

.modal-header {
    background: $gradientColor;
}

.modal-body, .close:hover {
    color: white;
}

.modal-content {
    @include radio-de-borde(10px);
    box-shadow: 2px 15px 25px 10px #000000;
}

//Navigation pills catalog vertical

.figure-caption, .figure-caption:visited {
    color: black;
    @include header-fonts(1.7em);
}

.shadow-text {
    text-shadow: 5px 3px 5px #000000;
}

.btn {
    box-shadow: 5px 3px 5px #000000;
}

.sticky-side-bar{
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
}

//Catalog
.padding-0 {
    padding-left: 0;
}

//popover

.example-popover {
    @include header-fonts(2em);
}