//Theme Colors  ref: https://www.sessions.edu/color-calculator/
$primaryColor: #ff740a;
$secondaryColor: #fc2a0a;
$terciaryColor: #ffb10a;
$lt-gray: lightgray;
$font-color: black;
$nonActiveColor: #cad1d0;
$hoverColor: #0affbe;

//scss mixins
@mixin padding-margin($up-down, $left-right) {
    margin: 0px auto;
    padding: $up-down $left-right;
}


//

.jumbotron {
    @include padding-margin(20px, 50px);
    background-color: $terciaryColor;
    color: white;
}

.row-header {
    @include padding-margin(0px, 0px);
}

.row-content {
    @include padding-margin(20px, 15px);
    min-height: 170px;
}

.footer {
    @include padding-margin(20px, 50px);
    background-color: $terciaryColor;
    color: black;
}

.tab-content {
    padding: 10px;
}

.card {
    border: 2px solid $primaryColor;
}

.card-header {
    background-color: $secondaryColor;
    color: white;
}

.nav-link {
    color: $nonActiveColor;
}

.nav-link:hover {
    color: $primaryColor; 
}

.nav-pills li a.active {
    background-color: $primaryColor !important;
}

.tab-pane li a, .tab-pane li a:visited {
    color: black;
}

.tab-pane li a:hover {
    text-decoration: none;
    color: $hoverColor;
    font-weight: bold;
}

.linkStyled, .linkStyled:visited {
    color: black;
    font-size: 20px;
}

.linkStyled:hover {
    text-decoration: none;
    color: #0a4bff;
    font-weight: bold;
}

.bg-grey {
    background-color: $lt-gray;
}
