@font-face {
  font-family: 'head-title';
  src: url("../fonts/lobster/lobster-regular-webfont.woff2") format("woff2"), url("../fonts/lobster/lobster-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'body-paragraph';
  src: url("../fonts/kalam/kalam-light-webfont.woff2") format("woff2"), url("../fonts/kalam/kalam-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.jumbotron {
  margin: 0px auto;
  padding: 20px 50px;
  background: linear-gradient(135deg, #ff740a 20%, #ffb10a 60%, #fc2a0a);
  color: white;
  font: 1.3em "head-title", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.font-head {
  font: 2em "head-title", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 20px 15px;
  min-height: 170px; }

.row-content p {
  font: 1.2em "body-paragraph", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.footer {
  margin: 0px auto;
  padding: 20px 50px;
  background-color: #ffb10a;
  color: black; }

.tab-content {
  padding: 10px; }

.card {
  border: 2px solid #ff740a;
  border-radius: 10px;
  overflow: hidden; }

.card-header {
  background-color: #fc2a0a;
  color: white;
  font: 2em "head-title", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.nav-link {
  color: gray; }

.nav-link:hover {
  color: #ff740a; }

.nav-pills li a.active {
  background-color: #ff740a !important; }

.tab-pane li a, .tab-pane li a:visited {
  color: black;
  font: 1.2em "body-paragraph", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.tab-pane li a:hover {
  text-decoration: none;
  color: #0a4bff;
  font-weight: bold; }

.linkStyled, .linkStyled:visited {
  color: black;
  font-size: 1.7em; }

.linkStyled:hover {
  text-decoration: none;
  color: #0a4bff;
  font-weight: bold; }

.bg-grey {
  background-color: lightgray; }
